  {% extends 'layout.html' %}
 {% block content %}

<style>
    .avatar {
  vertical-align: middle;

  border-radius: 50%;
}
</style>

<br>
<input oninput="w3.filterHTML('#id01', '.item', this.value)" placeholder="Search for names.." class="w3-input w3-border w3-animate-input w3-content" type="text" style="width:30%">

<div class="w3-content">
  <h2>All Books</h2>
  

  <table class="w3-table-all" id="id01">
    <thead>
      <tr class="w3-indigo">
        <th>Num</th>
        <th>Name</th>
        <th>Page</th>
        <th>Image</th>
        <th>Price</th>
        <th>How Much</th>
        <th>Jold</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for book in books %}
    <tr class="item">
      <td>{{loop.index}}</td>
      <td>{{book.name}}</td>
      <td>{{book.page}}</td>
      <td><img src="{{url_for('static',filename='img/'+book.image1)}}" width="50" height="40" class="avatar"></td>
      <td>{{book.price}}</td>
      <td>{{book.much}}</td>
      <td>{{book.jold}}</td>
      <td>{{book.date.year}}-{{book.date.month}}-{{book.date.day}}||{{book.date.hour}}:{{book.date.minute}}</td>
      <td><a href="{{url_for('updatebook',id=book.id)}}"><button  class="w3-button w3-green">Edit</button></a></td>
      <td><a href="{{url_for('deletebook',id=book.id)}}"><button class="w3-button w3-red">Delete</button></a></td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}