  {% extends 'layout.html' %}
 {% block content %}

<style>
    .avatar {
  vertical-align: middle;

  border-radius: 50%;
}
</style>

<br>
<div class="w3-content">
  <h2>All Categories</h2>
  

  <table class="w3-table-all">
    <thead>
      <tr class="w3-indigo">
        <th>Num</th>
        <th>Name</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    {% for category in categories %}
    <tr>
      <td>{{loop.index}}</td>
      <td>{{category.name}}</td>
      <td><a href="{{url_for('updatecategory',id=category.id)}}"><button  class="w3-button w3-green">Edit</button></a></td>
      <td><a href="{{url_for('deletecategory',id=category.id)}}"><button class="w3-button w3-red">Delete</button></a></td>
    </tr>
  {% endfor %}
  </table>
</div>
{% endblock %}